.Header{
    min-height: 50px;
    background-color: #7e602f;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header a{
    text-decoration: none;
    color: snow;
    font-size: 45px;
}

.Header a[class='active']{
    color: #d08a8a;
}

.container {
    height: 300px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}